.App {
  font-family: sans-serif;
  text-align: center;

  .editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;

    .tools > * {
      margin: 16px;
      cursor: pointer;
      border-radius: 8px;
    }

    .edited-image {
      width: 60%;

      .light-sepia {
        filter: sepia(100%);
      }
      .dark-blur {
        filter: blur(3px);
      }
      .dark-grayscale {
        filter: grayscale(100%);
      }
      .border {
        border: 2px solid #2d1e1e;
      }
      .light-theme {
        border: 3px solid #007bff;
        background-color: #f4f4f4;
      }
      .dark-theme {
        border: 3px solid #c16969;
        background-color: #121212;
      }
    }
  }
}
